<!DOCTYPE html>
<html lang="en">

<html>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

        <title>
            Hello from Docker
        </title>      
    </head>
    <body>
       <%=host.name %><br>
       <%=host.address %><br>
       <%=host.time %><br>
    </body>
</html>